<section id="experience">
  <div class="section-label">{{ i18n.t('experience.label') }}</div>
  <h2>{{ i18n.t('experience.title') }}</h2>
  <div class="timeline">
    <div class="timeline-item reveal" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e0.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e0.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e0.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e0.p1') }}</li>
        <li>{{ i18n.t('experience.e0.p2') }}</li>
        <li>{{ i18n.t('experience.e0.p3') }}</li>
      </ul>
    </div>

    <div class="timeline-item reveal" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e1.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e1.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e1.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e1.p1') }}</li>
        <li>{{ i18n.t('experience.e1.p2') }}</li>
        <li>{{ i18n.t('experience.e1.p3') }}</li>
      </ul>
    </div>

    <div class="timeline-item reveal" style="transition-delay:.08s" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e2.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e2.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e2.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e2.p1') }}</li>
        <li>{{ i18n.t('experience.e2.p2') }}</li>
        <li>{{ i18n.t('experience.e2.p3') }}</li>
      </ul>
    </div>

    <div class="timeline-item reveal" style="transition-delay:.16s" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e3.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e3.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e3.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e3.p1') }}</li>
        <li>{{ i18n.t('experience.e3.p2') }}</li>
        <li>{{ i18n.t('experience.e3.p3') }}</li>
      </ul>
    </div>

    <div class="timeline-item reveal" style="transition-delay:.24s" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e4.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e4.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e4.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e4.p1') }}</li>
        <li>{{ i18n.t('experience.e4.p2') }}</li>
        <li>{{ i18n.t('experience.e4.p3') }}</li>
      </ul>
    </div>

    <div class="timeline-item reveal" style="transition-delay:.32s" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e5.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e5.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e5.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e5.p1') }}</li>
        <li>{{ i18n.t('experience.e5.p2') }}</li>
        <li>{{ i18n.t('experience.e5.p3') }}</li>
      </ul>
    </div>

    <div class="timeline-item reveal" style="transition-delay:.4s" smartRead tabindex="0" smartReadContext="Experiencia profissional">
      <div class="timeline-date">{{ i18n.t('experience.e6.date') }}</div>
      <div class="timeline-title">{{ i18n.t('experience.e6.role') }}</div>
      <div class="timeline-company">{{ i18n.t('experience.e6.company') }}</div>
      <ul class="timeline-list">
        <li>{{ i18n.t('experience.e6.p1') }}</li>
        <li>{{ i18n.t('experience.e6.p2') }}</li>
        <li>{{ i18n.t('experience.e6.p3') }}</li>
      </ul>
    </div>
  </div>
</section>
